.menu {
    width: 20%;
    float: left;
    padding: 15px;
  
  }
  
  .main {
    width: 80%;
    float: left;
    padding: 15px;
    margin-top: 10px;
  }
  * {
    box-sizing: border-box;
  }
  